Django==1.7.2
Mako==1.0.0
MarkupSafe==0.23
Pillow==3.1.1
argparse==1.1
beautifulsoup4==4.3.2
click==6.2
decorator==4.0.9
django-annoying==0.8.7
django-localflavor==1.2
django-mako-plus==2.6.4
django-messages==0.5.1
django-polymorphic==0.6.1
django-schedule==0.5b
django-widget-tweaks==1.3
future==0.15.2
geocoder==1.8.1
icalendar==3.9.2
oauthlib==0.7.2
psycopg2==2.6.1
python-dateutil==2.4.2
pytz==2015.7
ratelim==0.1.6
requests==2.5.1
requests-oauthlib==0.4.2
shortuuid==0.4.2
simplejson==3.8.2
six==1.10.0
stripe==1.31.0
vobject==0.9.0
whitenoise==2.0.6
