{% extends 'capstone/base_template.html' %}
{% load staticfiles %}

{% block content %}
<section id="main" class="wrapper">
    <div class="container">
        <h2>About the creators of Backyardly</h2>
        <div class="bio">
            <div class="bio-pic">
                <div class="profile-pic-container">
                    <div class="profile-pic-wrapper">
                        <img class="profile-pic" src="{% static 'images/about-us/lauren.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
            <div class="bio-desc">
                <h4><strong>Lauren</strong></h4>
                <span>Lauren is studying Information Systems Management at Brigham Young University in Provo, UT. She and Shelly started the Backyardly project together for their capstone project, and they both love working on it! Lauren loves fishing, snowboarding, eating treats, and playing hockey.</span>
            </div>
        </div>
        <div class="bio">
            <div class="bio-desc">
                <h4><strong>Shelly</strong></h4>
                <span>Shelly is also a Master of Information Systems Management student at Brigham Young University, and is graduating in April 2016. She is married to the love of her life, and she plans to start her dream job at Microsoft after graduation this summer! In her free time, she loves crafting. She'll even spend hundreds of dollars on fancy markers . . . Oh, and she's a master of CSS. </span>
            </div>
            <div class="bio-pic">
                <div class="profile-pic-container">
                    <div class="profile-pic-wrapper">
                        <img class="profile-pic" src="{% static 'images/about-us/shelly.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}