{% extends 'capstone/base_template.html' %}
{% load staticfiles %}

{% block content %}
<section id="main" class="wrapper">
    <div class="container">
        <h2>This is the about us page.</h2>
        <div class="bio">
            <div class="bio-pic">
                <div class="profile-pic-container">
                    <div class="profile-pic-wrapper">
                        <img class="profile-pic" src="{% static 'images/lauren.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
            <div class="bio-desc">
                <h4>Lauren</h4>
                <span>Here is some stuff about Lauren cause she is really neat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</span>
            </div>
        </div>
        <div class="bio">
            <div class="bio-desc">
                <h4>Shelly</h4>
                <span>Here is some stuff about Shelly cause she is pretty cool too.</span>
            </div>
            <div class="bio-pic">
                <div class="profile-pic-container">
                    <div class="profile-pic-wrapper">
                        <img class="profile-pic" src="{% static 'images/shelly.jpg' %}" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}