{% extends 'capstone/base_template.html' %}
{% load staticfiles %}

{% block subtitle %}
 - FAQ
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'multi-level-accordion-menu/css/style.css' %}" />
{% endblock %}

{% block content %}
    <section id="main" class="wrapper">
        <div class="container">
            <h2>Frequently Asked Questions</h2>

            <ul class="cd-accordion-menu">

                {% for faq in faqs %}
                    <li class="has-children">
                        <input type="checkbox" name ="group-{{faq.id}}" id="group-{{faq.id}}">
                        <label for="group-{{faq.id}}">{{faq.question}}</label>
                        <ul class="faq-answer">
                            <li>
                                {{faq.answer |safe}}
                            </li>
                        </ul>
                    </li>
                {% endfor %}

            </ul> <!-- cd-accordion-menu -->
        </div>
    </section>

{% endblock %}

{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}