{% extends 'capstone/base_template.html' %}
{% load staticfiles %}

{% block subtitle %}
 - How It Works
{% endblock %}

{% block stylesheets %}
<script src="{% static 'js/tabcontent.js' %}" type="text/javascript" xmlns="http://www.w3.org/1999/html"></script>
    <link href="{% static 'css/tabcontent.css' %}" rel="stylesheet" type="text/css" />
{%endblock%}

{% block content %}
<section id="main" class="wrapper">
    <div class="container">
        <h2>How It Works</h2>
        <div>
            <ul class="tabs" data-persist="true">
                    <li><a id="view1-link" class="tab-link" href="#view1">Hosting</a></li>
                    <li><a id="view2-link" class="tab-link" href="#view2">Renting</a></li>
                    <li><a id="view3-link" class="tab-link" href="#view3">General</a></li>
                </ul>
                    <div class="tabcontents">
                        <div class="tab" id="view1">
                            <div class="content-tile">
                                You have a beautiful yard or state-of-the art entertainment system. Whether you could use some extra cash or you just want to show off, offering your place for others to rent is the perfect way to showcase your place. It's also a great way to help others host events they never imagined possible.
                            </div>
                            <div class="content-tile">
                                <div><i class="icon big rounded fa-home"></i></div>
                                <div>
                                     First you <a href="/venue/manage_venue/0/?status=new">Post your venue.</a> You can list anything you think someone might want to use. A family cabin, a sport court, or even your own backyard. You get to decide the price, availability, and more.
                                </div>
                            </div>
                            <div class="content-tile">
                                <div><i class="icon big rounded fa-check"></i></div>
                                <div>
                                     Then you approve requests from other users who want to rent your space.
                                </div>
                            </div>
                            <div class="content-tile">
                                <div><i class="icon big rounded fa-calendar"></i></div>
                                <div>
                                     On the day of the event you greet the renter and hand over the reigns for the event to them.
                                </div>
                            </div>
                            <div class="content-tile">
                                <div><i class="icon big rounded fa-money"></i></div>
                                <div>
                                     After the event you will receive payment securely through our online system.
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="view2">
                            <div class="content-tile">
                                You're smart. You're creative. You have big plans for a big event. But the space you have is just not right for the event you've imagined. Finding the perfect venue has always been a daunting task. It can be hard to know where to start, and when you do find the perfect spot, the price tag is likely to dampen your spirits. Don't worry, we've got tools to make it easy and make sure the price is right.
                            </div>
                            <div class="content-tile">
                                <div><i class="icon big rounded fa-binoculars"></i></div>
                                <div>
                                     Our <a href="/venue/find_venue">search tool</a> makes finding a venue easy. You just specify what you're looking for and we'll show you what's available.
                                </div>
                            </div>
                            <div class="content-tile">
                                <div><i class="icon big rounded fa-comments"></i></div>
                                <div>
                                    Once you've found the right place, you can ask the owner questions about the property or schedule a visit.
                                </div>
                            </div>
                            <div class="content-tile">
                                <div><i class="icon big rounded fa-credit-card"></i></div>
                                <div>
                                    When you know which venue you want, you can securely pay for your venue rental online.
                                </div>
                            </div>
                            <div class="content-tile">
                                <div><i class="icon big rounded fa-birthday-cake"></i></div>
                                <div>
                                    Once you've booked your venue and planned your event, all that's left is to enjoy it.
                                </div>
                            </div>
                        </div>
                        <div class="tab" id="view3">
                            <div class="content-tile">
                                Backyardly is an online community for people to share their spaces with others. The perfect venue can be expensive or hard to find. With Backyardly, anyone is able to share their yards, pools, sport courts, home theaters, and other facilities with others.
                                You can help others throw the event of their dreams just by offering your space. <a href="/venue/manage_venue/0/?status=new">Post your venue</a> for others to rent, or <a href="/venue/find_venue">find the place</a> you're looking for.
                            </div>
                        </div>

                    </div>

        </div>
    </div>
</section>
{% endblock %}

{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}