{% extends 'capstone/base_template.html' %}
{% load staticfiles %}


{% block content %}
    <section id="main" class="wrapper">
        <div class="container">
            <h2>Terms of use</h2>

            <p>By using or accessing backyardly.com or any site through which Backyardly makes services available
                (collectively refered to as the "Site") you acknowledge that you agree to and are subject to the following
                terms and conditions, as well as our Privacy Policy.
            </p>

            <p>
                Please read through all of these terms and conditions carefully. These terms constitute a legally binding agreement
                between you and Backyardly. You must be at least 18 years of age to use or access the Site.  By accessing or using the Site
                you warrant and represent that you are at least 18 years of age.
                The Site and services comprise a platform through which hosts may create listings for venues and guests can book venues directly with the hosts. Backyardly is not a party to any rental agreement or other transaction between users of the Site. Backyardly has no control over the the conduct of users of the Site and services or any venues, and disclaims all liability in this regard to the maximum extent permitted by law.

                PLEASE NOTE THAT, AS STATED ABOVE, THE SITE AND SERVICES ARE INTENDED TO BE USED TO FACILITATE HOSTS AND GUESTS CONNECTING AND BOOKING VENUES DIRECTLY WITH EACH OTHER. Backyardly CANNOT AND DOES NOT CONTROL THE CONTENT CONTAINED IN ANY LISTINGS AND THE CONDITION, LEGALITY OR SUITABILITY OF ANY venues. Backyardly IS NOT RESPONSIBLE FOR AND DISCLAIMS ANY AND ALL LIABILITY RELATED TO ANY AND ALL LISTINGS AND ACCOMMODATIONS. ACCORDINGLY, ANY BOOKINGS WILL BE MADE OR ACCEPTED AT THE MEMBER'S OWN RISK.
            </p>

            <h4>Eligibility</h4>
            <p>ANY PARTICIPATION IN THIS SITE WILL CONSTITUTE ACCEPTANCE OF THIS AGREEMENT, WHETHER OR NOT
                YOU HAVE REGISTERED WITH THE SITE.
                IF YOU DO NOT AGREE TO ABIDE BY THE ABOVE, PLEASE DO NOT USE THIS SITE.
            </p>

            <h4>Key Terms</h4>
            <h4>Modification</h4>


            <p>
                If you have any questions about these Terms, please contact Backyardly.
            </p>
        </div>
    </section>
{% endblock %}

{% block footer %}
{% include "partials/_footer.html" %}
{% endblock %}