{% load i18n %}

<div class="messages-left-menu-container">
	<div class="messages-leftdiv">
    
        <select id="message-select" onChange="window.location.href=this.value">
          <option id="inbox" value="/django_messages/inbox">Inbox</option>
          <option id="compose" value="/django_messages/compose">Compose</option>
          <option id="outbox" value="/django_messages/outbox">Sent Messages</option>
          <option id="trash" value="/django_messages/trash">Trash</option>
        </select>
      
    </div>
</div><!-- messages-left-menu-container -->