<header id="header" class="header-clear">
    <h1><a href="/homepage/">Purlieu</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="/venue/find_venue">Find a Venue</a></li>
            
            {% if user.is_authenticated %}
        
            <li><a href="/account/logout">Logout</a></li>
            <li>
                <div class="mini-profile-pic-container">
                    <div class="mini-profile-pic-wrapper">
                        <a href="/account/profile"><img class="mini-profile-pic" src="{{ user.profile_pic.image_file }}" /></a>
                    </div><!-- wrapper -->
                </div><!-- container -->
            </li>
            
            {% else %}

            <li><a href="/venue/manage_venue/?status=new">Post a Venue</a></li>
            <li><a href="/account/new_user">Sign Up</a></li>
            <li><a href="/account/login">Login <i class="fa fa-caret-square-o-right"></i></a></li>
            
            {% endif %}
            
        </ul>
    </nav>
</header>