<header id="header">
    <h1><a href="/homepage/">Purlieu</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="/venue/manage_venue/0/?status=new">Post a Venue</a></li> 
            <li><a href="/venue/find_venue">Find a Venue</a></li>
            
            {% if user.is_authenticated %}

            <li>
                <a href="/account/my_venues/">
                    <i class="fa fa-bell"></i>
                </a>
            </li>
            <li>
                <a href="/django_messages/inbox/">
                    <i class="fa fa-envelope"></i>
                    {%if new_message_count > 0%}
                        <span class="fa-stack">
                            <i class="fa fa-certificate fa-stack-1x"></i>
                            <span class="fa-stack-1x badge-text">{{new_message_count}}</span>
                        </span>
                    {% endif %}
                </a>
            </li>

            <li>
                <div class="dropdown">
                    
                  <div class="profile-pic-container mini-profile-pic-container">
                      <div class="profile-pic-wrapper mini-profile-pic-wrapper">
                          <a href="/account/profile"><img class="mini-profile-pic" src="{{ user.profile_pic.image_file }}" /></a>
                      </div><!-- wrapper -->
                  </div><!-- container -->
                  
                  <div class="dropdown-content">
                    <a href="/account/profile">My Profile</a><br>
                    <a href="/account/my_venues">My Venues</a><br>
                    <a href="/account/logout">Logout</a>  
                  </div>
                </div>
            </li>
            
            {% else %}

            <li><a href="/account/new_user">Sign Up</a></li>
            <li><a href="/account/login">Login <i class="fa fa-caret-square-o-right"></i></a></li>
            
            {% endif %}
            
        </ul>
    </nav>
</header>