<div class="profile-left-side-menu">
    <ul id="profile_links">
        <li><a href="/account/profile">Edit Profile</a></li>
        <li><a href="/account/change_password">Change Password</a></li>
        <li><a href="/account/profile_photo">Profile Photo</a></li>
        <li><a href="/account/payment_preferences">Payment Preferences</a></li>
        <li><a href="/account/verification">Identity Verification</a></li>
        <li><a href="/account/reviews">Reviews</a></li>
    </ul>
</div><!-- profile-left-side-menu -->