<!-- popup modal for displaying square footage comparisons -->
<div class="modal fade view-venue-modal" id="sqFtComparisons" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="comparisons">Square Footage Comparisons</h4>
      </div>
      <div class="modal-body"> 
        Don't know how to estimate your space's square footage? 
        <br>
        Maybe these comparisons will help:
        <br>
        <br>
        <ul>
            <li>The interior of a school bus is about <strong>300</strong> square feet.</li>
            <li>The average 3-car garage is a little over <strong>600</strong> square feet</li>
            <li>A regulation-sized basketball court is about <strong>4,700</strong> square feet</li>
            <li>An NHL ice rink measures <strong>20,000</strong> square feet.</li>
            <li>A football field (including endzones) measures about <strong>57,000</strong> square feet</li>
        </ul>
      </div>
      <div class="modal-footer">
        <a class="button small" data-dismiss="modal">Close</a>
      </div>
    </div>
  </div>
</div>