/*********************** General *******************/
input[type="number"]
{
    max-width:200px;
    display:inline-block;
}

.errorlist
{
    color: red;
    list-style-type: none;
    margin-bottom:1em;
}

.half-width
{
    display:inline-block;
    width:49%;
    vertical-align:top;
}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

.sub-heading
{
    font-size: 1.7em;
    padding: .5em .5em .5em 0;
}

.label
{
    color:#F3AD30;
}

.message
{
    color:#F3AD30;
}

/*********************** Homepage *******************/
#search-overlay{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    height: 75px;
    color: white;
    text-align: center;
    top: 500px;
   
}

#index-search-form{
    margin-top: 15px;
}

.index-search-field{
    width: 250px !important;
    background-color: white !important;
    color: black !important;
    display: inline-block !important;
    margin: 5px !important;
}

.profile-pic-container
{
    display:inline-block;
    width: 200px;
	height: 200px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
	overflow: hidden;
	z-index:0;
	transform: translateY(0);
}

.profile-pic-wrapper
{
    position: relative;
    float: right;
    right: 50%;
    border-radius:150px;
}

.profile-pic
{
    height:200px;
    min-width:200px;
    position: relative;
    right: -50%;
}

.profile-pic-wrapper img
{
    vertical-align:middle;
    vertical-align: -webkit-baseline-middle;
}

    .med-profile-pic-container
    {
        width: 120px;
        height: 120px;
    }

    .med-profile-pic-wrapper
    {
        border-radius:50%;
    }

    .med-profile-pic
    {
        height:120px;
        min-width:120px;
        position: relative;
        right: -50%;
    }

    .mini-profile-pic-wrapper
    {
        border-radius:50px;
    }

    .mini-profile-pic-container{
        width: 35px;
        height: 35px;
        border: 1px white solid;
        margin-bottom: 10px;
        background-color: #ffffff;
    }

    .mini-profile-pic-wrapper img
    {
        vertical-align:middle;
        vertical-align: -webkit-baseline-middle;
        bottom:23px;
    }

    .mini-profile-pic{
        height:35px;
        min-width:35px;
        position: relative;
        right: -50%;
    }

/***************** Header *****************/
.header-clear {
    background-color: rgba(0,0,0,0) !important;
    position:absolute;
}

/*************** Account Menu ****************/
#account_menu{
    position:absolute;
    background-color: #D8D8D8;
    height: 50px;
    line-height: 50px;
    width: 100%;
    box-shadow: 3px 3px 3px #9F9F9F;

}

    #account_menu nav{
	    height: inherit;
	    line-height: inherit;
	    position: absolute;
	    vertical-align: middle;
	    vertical-align: -webkit-baseline-middle;
        text-align: center;
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }

        #account_menu nav > ul{
    		list-style: none;
    		padding-left: 0;
            
        }

            #account_menu nav > ul > li {
        		border-radius: 4px;
        		display: inline-block;
        		margin-left: 2em;
        		padding-left: 0;
            }
            
                #account_menu nav > ul > li a {
					-moz-transition: color 0.2s ease-in-out;
					-webkit-transition: color 0.2s ease-in-out;
					-o-transition: color 0.2s ease-in-out;
					-ms-transition: color 0.2s ease-in-out;
					transition: color 0.2s ease-in-out;
					color: #3BA666;
					display: inline-block;
					text-decoration: none;
                }
                
				    #account_menu nav > ul > li a:hover {
					    color: #ffffff;
				    }
                
/**************** Main Content *************/
.main-content-heading
{
    margin-left: 10%;
}

.main-content-container
{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

/***************** Footer *****************/

#footer
{
    padding: 2em 0em 2em;
}

#footer-top-row
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer ul.icons li
{
    padding: 0px;
}

#footer .copyright
{
    margin-top: 0;
}


/***************** About page *****************/
.bio
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.bio-pic
{
    display: inline-block;
    width:200px;
    vertical-align:middle;
    vertical-align: -webkit-baseline-middle;
    margin-right: 1em;
}

.bio-desc
{
    display:inline-block;
    width: 70%;
    min-width: 550px;
    margin:1em;
    vertical-align:middle;
    vertical-align: -webkit-baseline-middle;
}


/***************** Sign up page *****************/

/***************** Post/Manage Venue page *****************/
.input-number
{
    margin: 1em 0;
}

.tab textarea
{
    height:200px;
}

#id_features li
{
    list-style-type: none;
}

.ven-img-thumbnail
{
    display:inline-block;
    height:200px;
    width:300px;
    overflow:hidden;
}

    .hide-x-until-hover{
        /* hidden until proven visible :) */
        visibility: hidden;
        position: relative;
        z-index: 5;
        top: 20px;
        left: 330px;
        color: grey;
    }

.ven-img-thumbnail img
{
    width:100%;
}

.next-tab-button
{
    position:absolute;
    border:none;
    background-color:rgba(255,255,255,0);
    color: #3ba666;
    right: 15%;
    font-size:20px;
    cursor:pointer;
}

.next-tab-button i
{
    font-weight:100;
}

/***************** Find Venue Page ********/

#find-container
{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#find-container h3
{
    text-align:center;
    margin:.5em;
}

.leftdiv
{
	position: fixed;
    top: 3.75em;
    left: 0;
    bottom: 0;
    padding-left:1em;
    width: 55%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background: #f7f7f7;
}

.leftdiv:after
{
	content: "";
	display: block;
	height: 50px;
}

.rightdiv
{
	position: fixed;
	top:3.75em;
	right:0;
	width: 45%;
	height:-moz-calc(100% - 3.75em);
	height:-webkit-calc(100% - 3.75em);
    height: calc(100% - 3.75em);
	border-left: 1px solid #ececec;
}

#gmap-circles
{
	height:100%;
	width:100%;
}

.results-wrapper
{
	width:100%;
	margin-left: -10px;
}

.results-container
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.venue-result
{
	background-color: grey;
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 42%;
	min-height: 20px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top:1em;
	border-radius: 4px;
}

.venue-pic-container
{
	position: absolute;
	left: 0;
	top: 0;
}

.venue-pic
{
	max-width: 100%;
	height: auto;
	width: auto\9; /* ie8 */
	vertical-align:middle;
	vertical-align: -webkit-baseline-middle;
}

.price-label
{
	background-color: rgba(0,0,0,.5);
	width:100px;
	height:40px;
	position: absolute;
	bottom:0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	color: white;
	text-align: center;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
	padding-top:10px;
	font-size: 24px;
}

.favorite-container
{
	position: absolute;
	color:white;
    top:3px;
    right:3px;
}

.favorite-icon
{
	font-size: 32px !important;
}

.event-icon
{
	font-size: 30px !important;
	vertical-align: middle;
	vertical-align: -webkit-baseline-middle;
	color: lightgrey;
}

/**************** Slider ********************/

.slider-container
{
	margin-top:10px;
}

.noUi-target
{
	width: 77%;
    position: absolute;
    left: 10%;
}

.noUi-handle
{
	border-radius: 17px;
}

.slider
{
	display: inline-block;
	position: absolute;
}

.left-slider
{
	left: 10%;
}

.right-slider
{
	right: 10%;
}


/***************** Forms *****************/

.field_error input, .field_error textarea, .filed_error input[type=number]
{
    border: 2px solid red;
}

hr.hr-style
{
	border: 0;
    height: 1px;
    width:95%;
    background: #C6C6C6;
}

hr.hr-border{
    border: 1px solid #C6C6C6;
    height: 1px;
    width:100%;
}

/***************** View Venue Page *********************************/
.venue-intro
{
    margin-top: -60px;
}

.cover-photo-container
{
	width: 57%;
    height: 400px;
    overflow: hidden;
    position: relative;
    display:inline-block;
}

.cover-photo
{
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    height:100%;
    background-size: cover;
    background-repeat: no-repeat;
}

.title-container
{
    vertical-align:text-bottom !important;
    display: inline-block;
    width:42%;
    padding-left:2%;
    margin-bottom:2em;
}

    .venue-title
    {
        font-size: 2em;
    }

.booking-container .venue-price
{
    margin-top: 1em;
}
    .display-price
    {
        margin: 1%;
    }

#request-booking-form
{
    border: 1px solid #CCCCCC;
    padding: 3% 1% 3% 1%;
    text-align: center;
    font-size: 20px;
}

    .view-form-field
    {
        display: inline-block !important;
        margin:1%;
    }

.description-div .venue-features-list
{
	list-style: none;
	padding-left: 0;
}

    .description-div .venue-features-list li
    {
        display: inline-block;
        margin:3% 3% 0 3%;
    }

    .description-div .venue-features
    {
        display: inline-block;
        width: 100%;
        font-size: 1.3em;
    }

.venue-owner
{
    text-align:center;
}
    .contact-owner
    {
        display: inline-block;
        vertical-align: text-top;
        text-align: center;
        margin-left: 1em;
    }

    .contact-owner a
    {
        display: block;
    }

/**************** Profile **************************************************/
.profile-left-side-menu{
    position: absolute;
    min-width: 25%;
    min-height: 100%;
}

.profile-left-side-menu ul > li{
    list-style: none;
    line-height: 2.5em;
}

.profile-left-side-menu ul > li a{
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	color: #3BA666;
	display: inline-block;
	text-decoration: none;
}

.profile-left-side-menu ul > li a:hover{
    color: #D8D8D8;
}

.profile-right-side-content{
    position:relative;
    min-height: 100%;
    left: 25%;
    width: 75%;
    border: 1px solid #C6C6C6;
}

.panel-profile-content{
    padding: 20px 40px 20px 40px;
}

.panel-header{
    background-color: #E4E4E4;
    padding: 10px;
    color: gray;
}

#new-photo-upload{
    position: relative;
    display: inline-block;
    margin-right: 75px;
    margin-top: 10px;

}

#new-photo-blurb{
    position: relative;
    display: inline-block;
    max-width: 400px;
    top: 25px;
}

/**************** My Venues *********************/
.my_venue_wrapper{
    min-height: 100px;
}

    .venue-pic-wrapper{
        position: relative;
        height: 100px;
        width: 150px;
        float: left;
        margin-right: 25px;
    }
    
        .tiny-camera-icon{
            /* hidden visibility until the user hovers over it - JS */
            visibility: hidden;
            width: 50px;
            height: 50px;
            position:absolute;
            z-index: 5;
            left: 50px;
            top: 25px;
        }

        .main_venue_photo{
            background-color: grey;
            position: relative;
            width: 150px;
            height: 100px;   
        }
        
/************************ Calendar ***************************/
/*override the multidatespicker css*/

#custom-jquery-calendar{
    width: 65%;
    margin: 0 auto;
    text-align: left;
}

#custom-jquery-calendar .ui-datepicker-title{
    font-size: 24px;
    color: #4dac71;
    width: 515px 
}

#custom-jquery-calendar .ui-datepicker-header{
    text-align: center;  
    width: 100%
}

#custom-jquery-calendar .ui-datepicker-calendar th{
    border: none;
}


#custom-jquery-calendar .ui-state-default{
    height: 75px;
    min-width: 75px;
    border: none;
    background: #e5e5e5;
}

#custom-jquery-calendar .ui-datepicker{
    width: 600px;
    height: 100%;
}

#custom-jquery-calendar .ui-state-highlight{
    background: none;
    border: none;
    color: #ffffff; 
}

#custom-jquery-calendar .ui-state-highlight a{
    background-color: #4dac71 ;
    border: none;
    color: #ffffff; 
}

#custom-jquery-calendar .ui-state-active{
    color: black;
}

#custom-jquery-calendar .ui-state-hover{
    background-color: #d9d9d9;
}

#custom-jquery-calendar tr{
    border: none;
}

#custom-jquery-calendar .ui-datepicker td a{
    padding-right: 10px;
}

#custom-jquery-calendar .ui-datepicker-today{
    background-color: #999999;
}

#custom-jquery-calendar .ui-icon {
    background-image: url('/static/images/ui-icons_444444_256x240.png');
}


/***************** Messages App ************************/
.messages-rightdiv
{
	position: relative;
    left: 30%;
	width: 70%;
    padding-right: 2em;
    padding-top: 1em;
    padding-left: 2em;
	height:-moz-calc(100% - 3.75em);
	height:-webkit-calc(100% - 3.75em);
    height: calc(100% - 3.75em);
    min-height: 100%;
    border-left: 1px solid #C6C6C6;
}
/*
.messages-left-menu-container
{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
}*/


.messages-leftdiv
{
	position: absolute;
    top: 7em;
    left: 0;
    bottom: 0;
    padding-left:2em;
    padding-right: 2em;
    padding-top: 1em;
    width: 30%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
   
}

/*.messages-leftdiv:after
{
    content: "";
    display: block;
    height: 50px;
}*/

.delete-object{
    color: #FF6666;
    padding-left: 15px;
    
}

.view-message-banner a{
    text-decoration: none;
    padding-right: 50px;
}

.message-list-preview{
    position: absolute;
    width: 30%;
    top: 17em; 
    
}

.message-preview{
    min-width: 100%;
    -webkit-box-shadow: 0px 3px 5px -4px rgba(87,86,87,1);
    -moz-box-shadow: 0px 3px 5px -4px rgba(87,86,87,1);
    box-shadow: 0px 3px 5px -4px rgba(87,86,87,1);
    padding-bottom: .5em;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: .5em;
}

.message-preview:hover{
    background-color: #e6e6e6;
    cursor: pointer;
}

.message-preview-selected{
    background-color: #e6e6e6;
    border: 1px solid #4dac71;

}

#message-select{
    cursor: pointer;
}

.message-headers dl{
    width: 100%;
}

.message-headers dt{
    width: 15%;
    float: left;
    font-weight: bold;

}

.message-headers dd{
    width: 85%;
    float: left;
}

/***************** Post Venue ***********************/
.review-settings-table{
    margin: 25px;
    width: 95%;
}

.review-settings-table .col-1{
    width: 30%;
    text-align: right;
    padding: 10px;
}

.review-settings-title{
    color: #4dac71;
    background-color: #e6e6e6;
    padding: 15px;
}

.edit-venue-settings{
    font-size: 18px;
}

.edit-venue-settings:hover{
    color: #ffffff;
}

.photo-slider-div{
    position: relative;
    width: 100%;
}

.photo-slider-div img{
    width: 375px;
    height: 250px;
   
}

#post-venue-photo-slider{
    position: relative;
    height:250px;
    width:375px;
    margin-left: auto;
    margin-right: auto;
}

.photo-slider-div .unslider-arrow.prev{
    position: relative;
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: rgba(0,0,0,.3) no-repeat 50% 50%;
    background-image: url('/static/images/prev-arrow.png');
    background-size: 7px 11px;
    border-radius: 32px;
    text-indent: -999em;
    opacity: .9;
    transition: opacity .2s;

    left: 250px;
    bottom: 150px;

}

.photo-slider-div .unslider-arrow.next{
    display: block;
    width: 32px;
    height: 32px;
    overflow: hidden;
    background: rgba(0,0,0,.3) no-repeat 50% 50%;
    background-image: url('/static/images/next-arrow.png');
    background-size: 7px 11px;
    border-radius: 32px;
    text-indent: -999em;
    opacity: .9;
    transition: opacity .2s;

    right: 250px;
    bottom: 175px;

}

