/*********************** Homepage *******************/
#search-overlay{
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    line-height: 75px;
    color: white;
    text-align: center;
    top: 500px;
    
}

.profile-pic-container
{
    display:inline-block;
    width: 200px;
	height: 200px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
	overflow: hidden;
	z-index:0;
	transform: translateY(0);
}

.profile-pic-wrapper
{
    position: relative;
    float: right;
    right: 50%;
    border-radius:150px;
}

.profile-pic
{
    height:200px;
    min-width:200px;
    position: relative;
    right: -50%;
}

.profile-pic-wrapper img
{
    vertical-align:middle;
}

.mini-profile-pic-wrapper
{
    position: relative;
    float: right;
    right: 50%;
    border-radius:50px;

}

.mini-profile-pic-wrapper img
{
    vertical-align:middle;
    bottom:25px;
}

.mini-profile-pic-container{
    display:inline-block;
    width: 35px;
	height: 35px;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	vertical-align: middle;
    vertical-align: -webkit-baseline-middle;
	overflow: hidden;
	z-index:0;
	transform: translateY(0);
    border: 1px white solid;
    margin-bottom: 10px;
}

.mini-profile-pic{
    height:35px;
    min-width:35px;
    position: relative;
    right: -50%;
}

/***************** Header *****************/
.header-clear {
    background-color: rgba(0,0,0,0) !important;
    position:absolute;
}

/*************** Account Menu ****************/
#account_menu{
    position:absolute;
    background-color: #D8D8D8;
    height: 50px;
    line-height: 50px;
    width: 100%;
    box-shadow: 3px 3px 3px #9F9F9F;

}

    #account_menu nav{
	    height: inherit;
	    line-height: inherit;
	    position: absolute;
	    vertical-align: middle; 
        text-align: center;
        width:100%;
        margin-left: auto;
        margin-right: auto;
    }

        #account_menu nav > ul{
    		list-style: none;
    		padding-left: 0;
            
        }

            #account_menu nav > ul > li {
        		border-radius: 4px;
        		display: inline-block;
        		margin-left: 2em;
        		padding-left: 0;
            }
            
                #account_menu nav > ul > li a {
					-moz-transition: color 0.2s ease-in-out;
					-webkit-transition: color 0.2s ease-in-out;
					-o-transition: color 0.2s ease-in-out;
					-ms-transition: color 0.2s ease-in-out;
					transition: color 0.2s ease-in-out;
					color: #3BA666;
					display: inline-block;
					text-decoration: none;
                }
                
				    #account_menu nav > ul > li a:hover {
					    color: #ffffff;
				    }
                
/**************** Main Content *************/
.main-content-heading
{
    margin-left: 10%;
}

.main-content-container
{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}

/***************** Footer *****************/

#footer
{
    padding: 2em 0em 2em;
}

#footer-top-row
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer ul.icons li
{
    padding: 0px;
}

#footer .copyright
{
    margin-top: 0;
}


/***************** About page *****************/
.bio
{
    display:block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.bio-pic
{
    display: inline-block;
    width:200px;
    vertical-align:middle;
    margin-right: 1em;
}

.bio-desc
{
    display:inline-block;
    width: 70%;
    min-width: 550px;
    margin:1em;
    vertical-align:middle;
}


/***************** Sign up page *****************/

/***************** Post Venue page *****************/
#id_features label
{
    text-decoration: none;
    color: #444;
    cursor: pointer;
    display: inline-block;
    font-size: 1em;
    font-weight: 300;
    padding-left: 2.4em;
    padding-right: 0.75em;
    position: relative;
}

#id_features input[type="checkbox"]:before
{
    background: #3ba666;
    border-color: #3ba666;
    color: #ffffff;
    content: '\f00c';
}

#id_features label:before
{
    border-radius: 4px;
    background: rgba(144, 144, 144, 0.075);
    border-radius: 4px;
    border: solid 1px rgba(144, 144, 144, 0.25);
    content: '';
    display: inline-block;
    height: 1.65em;
    left: 0;
    line-height: 1.58125em;
    position: absolute;
    text-align: center;
    top: 0;
    width: 1.65em;
}

/***************** Find Venue Page ********/

.left-side-content
{
	position: relative;
	width: 60%;
    min-height: 100%;
    overflow: scroll;*/
}

.leftdiv:after
{
	content: "";
	display: block;
	height: 50px;
}

.right-side-content
{
    position: absolute;
    left: 60%;
    width: 40%;
    height: 100%;
    top: 4.75em;
    -webkit-box-shadow: -2px 2px 9px 1px rgba(159,159,159,1);
    -moz-box-shadow: -2px 2px 9px 1px rgba(159,159,159,1);
    box-shadow: -2px 2px 9px 1px rgba(159,159,159,1);
}

#map
{
	height:100%;
 
}

#within_miles{
    display: inline;
}

.results-wrapper
{
	width:100%;
	margin-left: -30px;
}

.results-container
{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

.venue-result
{
	background-color: grey;
	position: relative;
	display: inline-block;
	overflow: hidden;
	width: 42%;
	min-height: 20px;
	margin-left: 2%;
	margin-right: 2%;
	margin-top:20px;
	border-radius: 2px;
}

.venue-pic-container
{
	position: absolute;
	left: 0;
	top: 0;
}

.venue-pic
{
	width: 100%;
	height: auto;
}

.price-label
{
	background-color: rgba(0,0,0,.5);
	width:100px;
	height:40px;
	position: absolute;
	bottom:0;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	color: white;
	text-align: center;
	vertical-align: middle;
	padding-top:10px;
	font-size: 24px;
}

.favorite-container
{
	position: absolute;
	color:white;
    top:3px;
    right:3px;
}

.favorite-icon
{
	font-size: 32px !important;
}

/**************** Slider ********************/

.slider-container
{
	margin-top:10px;
}

.noUi-target
{
	width: 77%;
    position: absolute;
    left: 10%;
}

.noUi-handle
{
	border-radius: 17px;
}

.slider
{
	display: inline-block;
	position: absolute;
}

.left-slider
{
	left: 10%;
}

.right-slider
{
	right: 10%;
}


/***************** Forms *****************/

.field_error input, .field_error textarea
{
    border: 2px solid red;
}

hr.hr-style
{
	border: 0;
    height: 1px;
    width:95%;
    background: #C6C6C6;
}

/**************** Profile *******************/
.profile-left-side-menu{
    position: absolute;
    width: 25%;
    min-height: 100%;
}

.profile-left-side-menu ul > li{
    list-style: none;
    line-height: 2.5em;
}

.profile-left-side-menu ul > li a{
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-o-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	color: #3BA666;
	display: inline-block;
	text-decoration: none;
}

.profile-left-side-menu ul > li a:hover{
    color: #D8D8D8;
}

.profile-right-side-content{
    position:relative;
    min-height: 100%;
    left: 25%;
    width: 75%;
    border: 1px solid #C6C6C6;
}

.panel-profile-content{
    padding: 20px 40px 20px 40px;
}

.panel-header{
    background-color: #E4E4E4;
    padding: 10px;
    color: gray;
}

/**************** My Venues *********************/
.my_venue_wrapper{
    padding: 10px;
    
}

.main_venue_photo{
    background-color: grey;
    position: relative;
    width: 150px;
    height: 100px;
    margin-right: 25px;
    margin-bottom: 15px;
    margin-top: -10px;
}

.ven-img-thumbnail
{
    display:inline-block;
    height:200px;
    width:300px;
    overflow:hidden;
}

.ven-img-thumbnail img
{
    width:100%;
}
