/***************** Header *****************/
.header-clear {
    background-color: rgba(0,0,0,0) !important;
    position:absolute;
}


/***************** Footer *****************/

#footer
{
    padding: 2em 0em 2em;
}

#footer-top-row
{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

footer ul.icons li
{
    padding: 0px;
}

#footer .copyright
{
    margin-top: 0;
}

/***************** Sign up page *****************/

#signup-heading
{
    margin-left:10%;
}

#signup-form-container
{
    width:80%;
    margin-left:auto;
    margin-right:auto;
}
