{% extends "message_base.html" %} 
{% load i18n %}

{% block subtitle %}
 - New Message
{% endblock %}

{% block content %} 

    <section id="main" class="wrapper"> 
        {% include 'partials/_message_left_menu.html' %}   
        <div class="messages-rightdiv"> 
            <h3>{% trans "Compose Message"%}</h3>
            <form action="" method="post">
            {% csrf_token %} 
            <table>
            {{ form.as_table }}
            </table>
            <input type="submit" value="{% trans "Send" %} &raquo;"/>
            </form>
        </div><!-- messages-rightdiv -->
    </section>
    
    <script>
        //select "compose" in the dropdown
        $(document).ready(function(){
            document.getElementById("message-select").selectedIndex = 1;
        });        
    </script>

{% endblock %}

{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}
  