{% extends 'capstone/auth_base.html' %}
        
        {% block content %}
        
        <section id="main" class="wrapper">
            <div class="container">
                
                {% block left_menu %}
                    {% include "partials/_profile_left_menu.html" %}
                {% endblock %}
                
                <div class="profile-right-side-content">
                    <div class="panel-header">Change Password</div>
                        <div class="panel-profile-content">
                            After changing your password, you will be asked to log in again.<br><br>
                            <form method="POST">
                                {{ form }}
                                <br><input type="submit" value="Save" class="small">
                            </form>
                        </div><!-- panel-profile-content-->
                </div>

            </div>
        </section>
          
{% endblock %}

{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}