 <div class="my_venue_wrapper venue-request-wrapper">     
    {% for event in event_list %}      
      <div class="venue-image">
          <a href="/venue/view_venue/{{ event.listing.id }}">
              <div class="venue-pic-wrapper">
                    <img class="main_venue_photo pull-left" src="/static/images/venue-images/{{ event.listing.id }}/{{ venue_pics_dict|get_item:event.listing.id }}"/>
              </div><!-- venue-pic-wrapper -->
          </a>
      </div>
      
      <div class="request-details">
          <div class="time-of-request">{{event.request_date}}</div>
          <div>{{event.listing.title}}</div>

              <div class="mini-profile-pic-container profile-pic-container">
                <div class="profile-pic-wrapper">
                    <a href="#"><img class="mini-profile-pic" src="{{ event.listing.user.profile_pic.image_file }}" /></a>
                </div><!-- wrapper -->
              </div><!-- container -->

          <span>Host: <a href="#">{{event.listing.user.first_name}}</a></span>

          <div>Requested For: {{event.listing_date.date}} {{event.start_time}} to {{event.end_time}}</div>
      </div>
      
      {%if approved%}
              <div class="request-options">
                  <a data-toggle="modal" data-target="#paymentHelp"><i class="fa fa-question-circle fa-lg" style="cursor: pointer"></i></a>              
                 <a href="/payment/cc_info/{{ event.id }}"><input type="submit" class="small" name="payNow{{event.id}}" value="Pay Now"></a>
                 <a data-toggle="modal" data-target="#cancelReservation{{ event.id }}"><input type="submit" class="small warning-btn" value="Cancel Reservation"/></a>   
                 <a href="/django_messages/compose/{{ event.listing.user.id }}/{{ event.listing.id }}" class="button small alt">Message {{ event.listing.user.first_name }}</a>
             </div>

      {%else%}
           <div class="request-options">
               <a class="delete-request-modal" data-toggle="modal" data-target="#cancelRequest{{ event.id }}"><input type="submit" class="small warning-btn" value="Cancel Request"/></a>
          </div>
      {%endif%}
      
<!--******************* Modals ***********************-->
      
      <!-- popup modal for displaying helpful information on payment -->
      <div class="modal fade" id="paymentHelp" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="paymentsHelp">Payments Help</h4>
            </div>
            <div class="modal-body"> 
              
                You must pay for the venue before the day of your event.
                <br><br>
                Please see <a href="/homepage/faq">Payment FAQs</a> for more information. 
                <br>
                <a href="/django_messages/compose/{{ event.listing.user.id }}/{{ event.listing.id }}">Message your host</a> if you have questions specific to the venue's pricing.
              
            </div>
            <div class="modal-footer">
              <a class="button small" data-dismiss="modal">Close</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- modal for deleting a rental reservation -->
      <div class="modal fade" id="cancelReservation{{ event.id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="confirmReservationCancel">Confirm Reservation Cancellation</h4>
            </div>
            <div class="modal-body"> 
              Are you sure you want to cancel this reservation?
              <br>
              You won't be able to undo this action, but you can always resubmit a request.
              <br>
              <a href="/django_messages/compose/{{ event.listing.user.id }}/{{ event.listing.id }}">Message the host</a> to explain why you are cancelling.
            </div>
            <div class="modal-footer">
              <a class="button small" data-dismiss="modal">Keep Reservation</a>
              <a href="/account/my_events__del_rental_request/{{ event.id }}"class="button small" style="background-color: #FF6666">Cancel Reservation</a>
            </div>
          </div>
        </div>
      </div>
      
      <!-- modal for deleting a rental request-->
      <div class="modal fade" id="cancelRequest{{ event.id }}" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title" id="confirmReservationCancel">Confirm Cancellation</h4>
            </div>
            <div class="modal-body"> 
              Are you sure you want to cancel this reservation request?
              <br><br>
              You won't be able to undo this action, but you can always resubmit a request.
            </div>
            <div class="modal-footer">
              <a class="button small" data-dismiss="modal">Keep Request</a>
              <a href="/account/my_events__del_rental_request/{{ event.id }}"class="button small" style="background-color: #FF6666">Cancel Request</a>
            </div>
          </div>
        </div>
      </div>

    <hr class="hr-style"/>
    {% endfor %}
</div>