{% extends 'capstone/base.html' %}

<section id="main" class="wrapper">
    <div class="container">
        
        {% block content %}
        
        <section id="main" class="wrapper">
            <div class="container">
                <h2 class="main-content-heading">Forgot Password?</h2>

                <div id="signup-form-container">
                    <form method="POST">
                            {{ form }}
                        <a href="">Forgot username?</a><br><br>
                        <input type="submit" value="Submit">
                        <br> 
                    </form>
                </div>

            </div>
        </section>
          
{% endblock %}

    </div><!-- container -->
</section>