{% extends 'capstone/base_template.html' %}

<section id="main" class="wrapper">
    <div class="container">
        
        {% block content %}
        
        <section id="main" class="wrapper">
            <div class="container" style="height: 350px">
                <h2 class="main-content-heading">Forgot Username?</h2>

                <div class="main-content-container">
                    Enter your email. If the email address matches our records, we'll send you a link to answer your security questions and recover your username.
                    <form method="POST">{% csrf_token %}
                            {{ form }}
                        <br>
                        <input type="submit" value="Submit" class="small">
                        <br> 
                    </form>
                </div>

            </div>
        </section>
          
{% endblock %}

    </div><!-- container -->
</section>


{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}