{% extends 'capstone/base_template.html' %}

<section id="main" class="wrapper">
    <div class="container">
        
        {% block content %}
        
        <section id="main" class="wrapper">
            <div class="container">
                <h2 class="main-content-heading">Login</h2>

                <div class="main-content-container">
                    <form method="POST">{% csrf_token %}
                            {{ form }}
                        <input type="hidden" name="next" value="{{ request.GET.next }}" />
                        <a href="/account/forgot_password">Forgot password?</a><br>
                        <a href="/account/forgot_username">Forgot username?</a>
                        <br><br>
                        <input type="submit" class="small" value="Submit">
                    </form>
                </div>

            </div>
        </section>
          
{% endblock %}

    </div><!-- container -->
</section>


{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}