{% extends 'capstone/auth_base.html' %}
{% load staticfiles %}

{% block subtitle %}
 - My Events
{% endblock %}

{% block stylesheets %}

    <script src="{% static 'js/tabcontent.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap-modal.js' %}"></script>  

    <link href="{% static 'css/tabcontent.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap-modal.css' %}" rel="stylesheet" type="text/css" />
    
{% endblock %}

{% block content %}

    <section id="main" class="wrapper">
        <div class="container">

            {% block left_menu %}
                {% include 'partials/_events_left_menu.html' %}
            {% endblock %}
            
            <div class="profile-right-side-content">
                <div class="panel-header">My Upcoming Events</div>
                    <div class="panel-profile-content">
                          
                        <div>
                            <ul class="tabs" data-persist="true">
                                <li><a id="view1-link" class="tab-link" href="#view1">Approved</a></li>
                                <li><a id="view2-link" class="tab-link" href="#view2">Pending Approval</a></li>
                                <li><a id="view3-link" class="tab-link" href="#view3">Canceled</a></li>
                            </ul>
                                <div class="tabcontents-nosideborders-custom">
                                    <br>
                                    <div class="tab" id="view1">
                                        <div class="text-center">
                                            <strong>Your reservation is not official until the deposit has been paid.<br>
                                        Until then, the venue's owner is free to approve other reservations for the same day.</strong>
                                    </div><br>
                                       {{ approvedhtml|safe }}
                                    </div>
                                    <div class="tab" id="view2">
                                      {{ pendinghtml|safe }}
                                    </div>
                                    <div class="tab" id="view3">
                                      {{ canceledhtml|safe }}
                                    </div>
                                </div>
                        </div>
                       
                    </div><!-- panel-profile-content-->
            </div>
        
        </div>
    </section>

     <!-- popup modal for displaying cancellation policies -->
     <div>
         {{policieshtml|safe}}
     </div>

{% endblock %}

{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}
