{% extends 'capstone/auth_base.html' %}

<section id="main" class="wrapper">
    <div class="container">

{% block content %}

    <section id="main" class="wrapper">
        <div class="container">
            
            {% block left_menu %}
                {% include "partials/_profile_venues_left_menu.html" %}
            {% endblock %}
            
            <div class="profile-right-side-content">
                <div class="panel-header">My Reservations</div>
                    <div class="panel-profile-content">
                        <div class="my_venue_wrapper venue-request-wrapper">
                            {% for r in request_list %}

                                <div class="venue-image">
                                    <a href="/venue/manage_venue/{{ r.listing.id }}">
                                        <div class="venue-pic-wrapper">
                                            {% if venue_pics_dict|get_item:r.listing.id == None %}
                                                <img class="tiny-camera-icon" src="/static/images/camera-icon.png"/>
                                                <img class="main_venue_photo pull-left" src="" />
                                            {% else %}
                                                <img class="main_venue_photo pull-left" src="/static/images/venue-images/{{ r.listing.id }}/{{ venue_pics_dict|get_item:r.listing.id }}"/>
                                            {% endif %}
                                        </div><!-- venue-pic-wrapper -->
                                    </a>
                                </div>

                                <div class="request-details">
                                    <div class="time-of-request">{{r.request_date}}</div>
                                    <div>{{r.listing.title}}</div>
                                    <span>
                                        <div class="profile-pic-container mini-profile-pic-container">
                                          <div class="profile-pic-wrapper">
                                              <a href="#"><img class="mini-profile-pic" src="{{ r.user.profile_pic.image_file }}" /></a>
                                          </div><!-- wrapper -->
                                        </div><!-- container -->
                                    </span>

                                    <span><a href="#">{{r.user.first_name}}</a></span>

                                    <div>Requested For: {{r.listing_date.date}} {{r.start_time}} to {{r.end_time}}</div>
                                </div>

                                <div class="request-options">
                                    <input type="submit" class="small" name="approveRequest" value="Approve">
                                    <input type="submit" class="small warning-btn" name="denyRequest" value="Deny">
                                    <input type="submit" class="small alt" name="messageUser" value="Message {{r.user.first_name}}">
                                </div>

                            <hr class="hr-style"/>
                            {% endfor %}
                        </div>

                    </div><!-- panel-profile-content-->
            </div>

        </div>
    </section>

{% endblock %}

    </div><!-- container -->
</section>

{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}
