{% extends 'capstone/auth_base.html' %}

<section id="main" class="wrapper">
    <div class="container">

{% block content %}

    <section id="main" class="wrapper">
        <div class="container">
            
            {% block left_menu %}
                {% include "partials/_profile_venues_left_menu.html" %}
            {% endblock %}
            
            <div class="profile-right-side-content">
                <div class="panel-header">My Venues</div>
                    <div class="panel-profile-content">
                    
                        {% for venue in my_venues %}
                            <div class="my_venue_wrapper">
                                {% if venue_pics_dict|get_item:venue.id == None %}
                                    <!-- <img class="tiny-camera-icon" src="/static/images/camera-icon.png"/> -->
                                    <img class="main_venue_photo pull-left" src="" />
                                {% else %}  
                                    <img class="main_venue_photo pull-left" src="/static/images/venue-images/{{ venue.id }}/{{ venue_pics_dict|get_item:venue.id }}"/>
                                {% endif %}
                                <a href="/venue/manage_venue/{{ venue.id }}" class="button small pull-right" style="margin-left: 10px">Edit</a> 
                                {{ venue.title }}<br>
                                <a href="/venue/manage_venue/{{ venue.id }}">Edit venue and availability</a>
                                  
                            </div><!-- my_venue_wrapper -->
                            <hr class="hr-style">
                        {% endfor %}
                        
                    </div><!-- panel-profile-content-->
            </div>

        </div>
    </section>

{% endblock %}

    </div><!-- container -->
</section>

{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}
