{% extends 'capstone/base_template.html' %}


{% block content %}

<section id="main" class="wrapper">
    <div class="container">
        <h2 class="main-content-heading">Sign Up</h2>

        <div class="main-content-container">
            <form method="POST">{% csrf_token %}
                    {{ form }}
                <br>
                <input type="submit" value="Submit" class="small">
            </form>
        </div>

    </div>
</section>

{% endblock %}


{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}

