{% extends 'capstone/auth_base.html' %}
{% load staticfiles %}

{% block subtitle %}
 - Payment Preferences
{% endblock %}

{% block content %}

    <section id="main" class="wrapper">
        <div class="container">
            
            {% block left_menu %}
                {% include "partials/_profile_left_menu.html" %}
            {% endblock %}
            
            <div class="profile-right-side-content">
                <div class="panel-header">Payment Preferences</div>
                    <div class="panel-profile-content">
                      
                      
                      
                      
                    </div><!-- panel-profile-content-->
            </div>

        </div>
    </section>

{% endblock %}

{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}
