{% extends 'capstone/auth_base.html' %}
{% load staticfiles %}

{% block stylesheets %}
    <script src="{% static 'js/profile_photo.js' %}"></script>  
{% endblock %}

<section id="main" class="wrapper">
    <div class="container">

{% block content %}

    <section id="main" class="wrapper">
        <div class="container">
            
            {% block left_menu %}
                {% include "partials/_profile_left_menu.html" %}
            {% endblock %}
            
            <div class="profile-right-side-content">
                <div class="panel-header">Profile Photo</div>
                    <div class="panel-profile-content">
                        
                        <div class="bio-pic">
                            <div class="profile-pic-container hover-delete">
                                <a href="/account/profile_photo__del_img/" style="color: #272727;" class="delete-venue-image"><i class="fa fa-times fa-2x hide-x-until-hover"></i></a>
                                <div class="profile-pic-wrapper">
                                    <img class="profile-pic" src="{{ user.profile_pic.image_file }}" />
                                </div>
                            </div>
                        </div>
                        
                        <div id="new-photo-blurb">
                            Though a photo is not required, it is highly recommended. When potential renters are able to put a face to a name, they will likely feel more comfortable renting from you.<br><br>
                        </div>
                           <div id="new-photo-upload">
                               <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                                     <!-- the photo upload field -->
                                     {{ photo_upload_form }}<br><br>
                                     <input type="submit" class="button small pull-left" value="Submit">
                               </form>   
                        </div>
                                    
                    </div><!-- panel-profile-content-->
            </div>

        </div>
    </section>

{% endblock %}

    </div><!-- container -->
</section>

{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}
