{% extends 'capstone/base_template.html' %}
{% load staticfiles %}

{% block subtitle %}
 - {{user.first_name|capfirst}}'s Profile
{% endblock %}

{% block content %}
<section id="main" class="wrapper">
    <div class="container">
        <div class="bio">
            <div class="bio-pic">
                <div class="profile-pic-container">
                    <div class="profile-pic-wrapper">
                        <img class="profile-pic" src="{{ user.profile_pic.image_file }}" alt="" />
                    </div>
                </div>
            </div>
            <div class="public-prof-desc">
                <h3>{{user.first_name|capfirst}}</h3>
                <span>Backyardly member since {{user.date_joined|date:"M Y"}}</span>
                <br/>
                <a href="/django_messages/compose/{{ user.id }}" class="button small">Contact {{user.first_name}}</a>
            </div>
            <div class="public-bio">
                {% if user.bio != None%}
                    <div>{{user.bio}}</div>
                {% endif %}
            </div>
        </div>

        <div class="profile_venue-container">
            {% if venues %}
                <h3>{{user.first_name}}'s Venues</h3>
                <hr class="hr-style" style="width:100%; margin:0;">
                <br/>
                {% for venue in venues %}
                    <div class="profile_venue_wrapper">
                        <div class="profile_venue_image">
                            <a href="/venue/view_venue/{{ venue.id }}">
                                <div class="venue-pic-wrapper">
                                    {% if venue_pics_dict|get_item:venue.id == None %}
                                        <img class="tiny-camera-icon" src="/static/images/camera-icon.png"/>
                                        <img class="main_venue_photo pull-left" src="" />
                                    {% else %}
                                        <img class="main_venue_photo pull-left" src="/static/images/venue-images/{{ venue.id }}/{{ venue_pics_dict|get_item:venue.id }}"/>
                                    {% endif %}
                                </div><!-- venue-pic-wrapper -->
                            </a>
                        </div>
                        <div>{{ venue.title }}</div>
                        <div><strong>{{ venue.city }}, {{ venue.state }}</strong></div>
                    </div><!-- my_venue_wrapper -->
                {% endfor %}
            {% endif %}
        </div>

    </div>
</section>
{% endblock %}

{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}