{% extends 'capstone/base_template.html' %}

{% block subtitle %}
 - Reset Link Sent
{% endblock %}

{% block content %}

    <section id="main" class="wrapper">
        <div class="container">

            {% if sent_or_reset == "sent" %}
            
                <h2 class="main-content-heading">Password Reset</h2> 
                <div class="main-content-container">
                    <h4>Please check your email for a reset link.</h4>
                </div>
    
            {% else %}
    
                <h2 class="main-content-heading">Reset Confirmation</h2>
                <div class="main-content-container">
                    <h4>Your password has been reset. You can login again <a href='/account/login'>here</a>.</h4> 
                </div>
        
            {% endif %}  
    
        </div>
    </section>

{% endblock %}
