{% extends 'capstone/base.html' %}

<section id="main" class="wrapper">
    <div class="container">

{% block content %}

    <section id="main" class="wrapper">
        <div class="container">

            {% if request.GET.type == sent %}

                NEED TO FIX THIS MESSAGE!!
                <h2 class="main-content-heading">Thank you!</h2> 
                <div class="main-content-container">
                    <h4>Please check your email for a reset link.</h4>
                </div>
    
            {% else %}
    
                <h2 class="main-content-heading">Thank you!</h2>
                <div class="main-content-container">
                    <h4>Your password has been reset.</h4>
                    <h5>You can login again <a href='/account/login'>here</a>.</h5> 
                </div>
        
            {% endif %}  
    
        </div>
    </section>

{% endblock %}

    </div><!-- container -->
</section>
