{% extends 'capstone/base_template.html' %}
{% load staticfiles %}

{% block stylesheets %}
    
{% endblock %}

{% block content %}

<section id="main" class="wrapper">
    <div class="container">
    
        <h3>Please enter your payment information.</h3>
        <form id="payment-form" action="." method="post">
            {% csrf_token %}
            <table class="table">
                <tbody>
                    <tr>
                        <th>Card Number</th>
                        <th>Exp Month</th>
                        <th>Exp Year</th>
                        <th>CVC</th>
                    </tr>
                    <tr>
                        <td><input type="text" size="32" data-stripe="number"/></td>
                        <td><input type="text" size="2" data-stripe="exp-month"/></td>
                        <td><input type="text" size="4" data-stripe="exp-year"/></td>
                       <td><input type="text" size="4" data-stripe="cvc"/></td>
                    </tr>
                </tbody>
            </table>
            <span class="payment-errors label label-danger"></span>
            <div class="">
                {% for err in form.non_field_errors %}
                    <p class="label label-danger">{{ err }}</p>
                {% endfor %}
                
                {% if error %}
                    Need to remove this for production
                {% endif %}<br>
                {{ error }}
            </div>
        
        <hr class="hr-border">
        
        <h3>Review your reservation information.</h3>
        
        <div class="review-reservation-details-div">
            <!-- venue image -->
            <div class="venue-image-review-reservation"> 
              <img class="main_venue_photo-med pull-left" src="/static/images/venue-images/{{ listing.id }}/{{ venue_pic.image_name }}"/>  
            </div>
        
            <div class="venue-details-container">
                <h4>{{ listing.title }}</h4>
                
                <table>
                    <tr>
                        <td>Reservation Date: </td>
                        <td>{{ listing_date.date }}</td>
                    </tr>
                    <tr>
                        <td>Reservation Time: </td>
                        <td>{{ rental_request.start_time }} - {{ rental_request.end_time }}</td>
                    </tr>
                    <tr>
                        <td>Price: </td>
                        <td>${{ fee_in_dollars }}&nbsp
                            {% if weekend %}
                                (${{ listing.price_per_hour_weekend }} per hour)
                            {% else %}
                                (${{ listing.price_per_hour }} per hour)
                            {% endif %}
                        </td>
                    </tr>
                </table>
            
            </div><!-- venue details-->
        </div><!-- review-reservation-details-div -->
        
        <hr class="hr-border">
        
        <input id="payment-submit" type="submit" value="Pay Now" class="button small pull-right"/>
        <br>
        <br>
        <h5 class="pull-right">Your card will be charged and your reservation will be subject to the owner's cancellation policy.</h5> 
        
        </form>
        
        <form id="order-form" action="" method="post">{% csrf_token %}</form>           
            
    </div><!-- container-->
</section>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
        // This identifies your website in the createToken call below
        Stripe.setPublishableKey("{{ STRIPE_PUBLISHABLE_KEY }}");
        
        var stripeResponseHandler = function(status, response) {
            var $form = $('#payment-form');
            var $orderForm = $('#order-form');

            if (response.error) {
                // Show the errors on the form
                $form.find('.payment-errors').text(response.error.message);
                $form.find('#payment-submit').prop('disabled', false);
            } else {
                // token contains id, last4, and card type
                var token = response.id;
                // Insert the token into the form so it gets submitted to the server
                $orderForm.append(
                        $('<input type="hidden" name="stripeToken" />').val(token)
                );
                // and submit
                $orderForm.get(0).submit();
            }
        };

        jQuery(function($) {
            $('#payment-form').submit(function(event) {
            var $form = $(this);

            // Disable the submit button to prevent repeated clicks
            $form.find('#payment-submit').prop('disabled', true);

            Stripe.createToken($form, stripeResponseHandler);

            // Prevent the form from submitting with the default action
            return false;
            });
        });
    </script>

{% endblock %}

