{% extends 'capstone/auth_base.html' %}
{% load staticfiles %}

{% block stylesheets %}
    
{% endblock %}

{% block content %}

<section id="main" class="wrapper">
    <div class="container" style="height: 400px">
    
    <h2 class="main-content-heading">Thank you for your reservation.</h2> 
        <div class="main-content-container">
            <h4>Please check your email for confirmation.</h4>
        </div>
      
    </div><!-- container-->
</section>

{% endblock %}

{% block footer %}
{% include "partials/_footer.html" %}
{% endblock %}

