{% load staticfiles %}

{% block stylesheets %}

 <script src="{% static 'js/jquery-ui.multidatespicker.js' %}"></script>   
    
{% endblock %}
	
<div id="custom-jquery-calendar">
    <div id="main-calendar"></div>
</div><!-- custom-jquery-calendar -->

<br>
<form method="POST">
    {{ form }}
    <br>
    <input type="submit" value="Save Dates" class="small" style="background-color: #999999">
</form>

<script>
    //instantiate the calendar
    $('#main-calendar').multiDatesPicker({
        altField: '#id_dates_available',
    });
</script>

