{% extends 'capstone/base_template.html' %}
{% load staticfiles %}

{% block stylesheets %}

    <!--<link rel="stylesheet" type="text/css" href="{% static 'noUiSlider.8.1.0/nouislider.css' %}">-->

	<script src="{% static 'js/find_venue.js' %}" type="text/javascript"></script>
	<script src="{% static 'js/jquery.form.js' %}"></script>

    
{% endblock %}

{% block content %}

<section id="main" class="wrapper">
	<div id="find-container">
		{{ formhtml|safe }}
	</div>
</section>

<div class="modal"><!-- Place at bottom of page --></div>

{% endblock %}

