{% extends 'capstone/auth_base.html' %}
{% load staticfiles %}

{% block stylesheets %}
    <script src="{% static 'js/tabcontent.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/manage_venue.js' %}" type="text/javascript"></script>  
    <script src="{% static 'js/google-autocomplete.js' %}"></script>  
    <script src="{% static 'js/jquery-ui.multidatespicker.js' %}"></script>  
    <script src="{% static 'js/bootstrap-modal.js' %}"></script>  

    <link href="{% static 'css/tabcontent.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'css/bootstrap-modal.css' %}" rel="stylesheet" type="text/css" />
    <script type="text/javascript">setPageVars({{tab}})</script>
{% endblock %}

{% block content %}
<section id="main" class="wrapper">
    <div class="container">

        <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            <div>
                <div class="delete-venue">
                    <a class="delete-object-modal" href="#" data-toggle="modal" data-target="#Delete{{ listing.id }}"><i class="fa fa-trash-o fa-2x pull-right delete-object"></i></a>
                </div>
                
                <strong>{{ form.non_field_errors }}</strong>
                                
                <ul class="tabs" data-persist="true">
                    <li><a id="view1-link" class="tab-link" href="#view1">General</a></li>
                    <li><a id="view2-link" class="tab-link" href="#view2">Features</a></li>
                    <li><a id="view3-link" class="tab-link" href="#view3">Location</a></li>
                    <li><a id="view5-link" class="tab-link" href="#view4">Pricing</a></li>
                    <li><a id="view6-link" class="tab-link" href="#view5" onclick="viewVenueCalendar({{ listing.id }});">Availability</a></li>
                    <li><a id="view4-link" class="tab-link" href="#view6">Photos</a></li>
                </ul>
                    <div class="tabcontents">
                        <div class="tab" id="view1">
                            <button class="next-tab-button" onclick="nextTab()">Next <i class="fa fa-arrow-right"></i></button>
                            <div {% if form.title.errors %}class="field_error"{% endif %}>
                                <strong>Venue Title</strong>
                                {{ form.title }}
                                {{ form.title.errors }}
                            </div>
                            <div {% if form.category.errors %}class="field_error"{% endif %}>
                                <strong>Venue Type</strong>
                                {{ form.category }}
                                {{ form.category.errors }}
                            </div>
                            <br>
                            <div class="input-number {% if form.sq_footage.errors %}field_error{% endif %}">
                                <strong>Square Footage of Space Available to Guests</strong>
                                {{ form.sq_footage }}
                                <a data-toggle="modal" data-target="#sqFtComparisons"><i class="fa fa-question-circle fa-lg" style="cursor: pointer"></i></a>
                                {{ form.sq_footage.errors }}
                                
                                <!-- modal for square foot comparisons -->
                               {% include 'partials/_sq_footage_comparisons.html' %}
                                
                            </div>
                            <div class="input-number {% if form.num_guests.errors %}field_error{% endif %}">
                                <strong>Number of Guests that Can be Accommodated</strong>
                                {{ form.num_guests }}
                                {{ form.num_guests.errors }}
                            </div>

                        </div>
                        <div class="tab" id="view2">
                            <button class="next-tab-button" onclick="nextTab()">Next <i class="fa fa-arrow-right"></i></button>
                            <div {% if form.description.errors %}class="field_error"{% endif %}>
                                <strong>Description</strong>
                                {{ form.description }}
                                {{ form.description.errors }}
                            </div>

                            <div {% if form.parking_desc.errors %}class="field_error"{% endif %}>
                                <strong>Description of Parking Facilities and/or Availability</strong>
                                {{ form.parking_desc }}
                                {{ form.parking_desc.errors }}
                            </div>

                            <strong>Features</strong>
                            <br/>
                            {% for key, value in form.features.field.choices %}
                                <input type="checkbox" id="id_feature_{{ key }}" value="{{key}}" name="features"
                                {% if value in features%}
                                    checked>
                                {% else %}
                                    >
                                {% endif %}

                                <label for="id_feature_{{ key }}">
                                    {{ value }}
                                </label>
                            {% endfor %}  

                        </div>
                        <div class="tab" id="view3">
                            <button class="next-tab-button" onclick="nextTab()">Next <i class="fa fa-arrow-right"></i></button>
                            <h3>Address of Venue</h3>
                            Guests will not have access to your address until you have shared it with them.<br><br>
                            
                            <div id="locationField">
                                {{ form.search_address }}
                            </div>
                            
                            <hr class="hr-style">
        
                            <div {% if form.street.errors %}class="field_error"{% endif %}>
                                <strong>Street</strong>
                                {{ form.street }}
                                {{ form.street.errors }}
                            </div>
                            <div {% if form.street2.errors %}class="field_error"{% endif %}>
                                <strong>Street 2</strong>
                                {{ form.street2 }}
                                {{ form.street2.errors }}
                            </div>
                            <div {% if form.city.errors %}class="field_error"{% endif %}>
                                <strong>City</strong>
                                {{ form.city }}
                                {{ form.city.errors }}
                            </div>
                            <div class="6u 12u$(small) {% if form.state.errors %}field_error{% endif %}">
                                <strong>State</strong>
                                {{ form.state }}
                                {{ form.state.errors }}
                            </div>
                            <div class="6u 12u$(small) {% if form.zipcode.errors %}field_error{% endif %}">
                                 <strong>Zip</strong>
                                {{ form.zipcode }}
                                {{ form.zipcode.errors }}
                            </div>
                        </div>
                        
                        <div class="tab" id="view4">
                             <button class="next-tab-button" onclick="nextTab(); viewVenueCalendar({{ listing.id }});">Next <i class="fa fa-arrow-right"></i></button>
                            <div class="input-number {% if form.price_per_hour.errors %}field_error{% endif %}">
                                <strong>Weekday Price Per Hour (M-Th)</strong>
                                <br/>
                                ${{ form.price_per_hour }}
                                {{ form.price_per_hour.errors }}
                            </div>
                             <div class="input-number {% if form.price_per_hour_weekend.errors %}field_error{% endif %}">
                                <strong>Weekend Price Per Hour (F-Su)</strong>
                                <br/>
                                ${{ form.price_per_hour_weekend }}
                                {{ form.price_per_hour_weekend.errors }}
                            </div>
                             <div class="input-number {% if form.deposit.errors %}field_error{% endif %}">
                                <strong>Deposit Amount</strong>
                                <br/>
                                ${{ form.deposit }}
                                {{ form.deposit.errors }}
                            </div>
                        </div><!-- view 4 -->
                        
                        <div class="tab" id="view5">
                            <button class="next-tab-button" onclick="nextTab()">Next <i class="fa fa-arrow-right"></i></button>
                            <div id="custom-jquery-calendar">
                                <div id="main-calendar"></div>
                            </div><!-- custom-jquery-calendar -->
                            
                             {{ calendarForm }}
                             
                             <br>
                             <input type="submit" class="small" name="calendarForm" value="Update Dates">
                        </div><!-- view5 -->

                        <div class="tab" id="view6">
                            <div {% if form.image_title.errors %}class="field_error"{% endif %}>
                                 <strong>Image Title</strong>
                                {{ imageForm.image_title }}
                            </div>
                            {{form.image.errors}}
                            {{ imageForm.image }}
                            <br><br>
                            <input type="submit" class="small" name="imagesForm" value="Upload Photo">
                            
                            <br><br>
                            
                            {% if images %}
                                <ul>
                                {% for image in images %}
                                    <div class="ven-img-thumbnail-manage hover-delete">
                                        <a href="/venue/manage_venue__del_img/{{ listing.id }}/{{ image.id }}" style="color: #272727;" class="delete-venue-image"><i class="fa fa-times fa-2x hide-x-until-hover"></i></a>
                                        <img src='{% static "images/venue-images/" %}{{ listing.id }}/{{image.image_name}}' alt="" />
                                    </div>
                                {% endfor %}
                                </ul>
                            {% else %}
                                    <p>You must add at least one photo</p>
                            {% endif %}
                        </div><!-- view 6 -->
                        

                    </div>
                <br>
                <!-- simply saves the values - all fields aren't required unless the user is posting the venue -->
                <input type="submit" class="small" style="width: 120px" name="mainForm" value="Save">
            
                
                {% if listing.currently_listed %}
                    <a href="/venue/post_venue__unlist/{{ listing.id }}" class="button small pull-right" style="background-color: #FF6666">Unlist Venue</a><br><br>
                    <h5 class="pull-right">Unlisting the venue will prevent potential renters from seeing it.</h5>
                {% else %}
                    <input type="submit" class="small pull-right" name="postVenue" value="Post Venue"><br><br>
                    <!--<a href="/venue/post_venue/{{ listing.id }}" class="button small pull-right">Post Venue</a><br><br>-->
                    <h5 class="pull-right">You'll be able to review the changes first.</h5>
                {% endif %}
            </div>
         </form>
         
         
         <!-- modal for deleting a venue-->
         <div class="modal fade" id="Delete{{ listing.id }}" tabindex="-1" role="dialog">
           <div class="modal-dialog">
             <div class="modal-content">
               <div class="modal-header">
                 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                 <h4 class="modal-title" id="confirmVenueDelete">Confirm Deletion</h4>
               </div>
               <div class="modal-body"> 
                 Are you sure you want to delete this venue?
               </div>
               <div class="modal-footer">
                 <a class="button small" data-dismiss="modal">Cancel</a>
                 <a href="/venue/manage_venue__del_venue/{{ listing.id }}"class="button small" style="background-color: #FF6666">Delete</a>
               </div>
             </div>
           </div>
         </div>
              
    </div>
</section>

<script>
    //instantiate the calendar
    $('#main-calendar').multiDatesPicker({
        altField: '#id_dates_available',
        minDate: 0,
    });
</script>

{% endblock %}

{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}