{% extends 'capstone/auth_base.html' %}
{% load staticfiles %}

{% block stylesheets %}
    <script src="{% static 'js/tabcontent.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/manage_venue.js' %}" type="text/javascript"></script>

    <link href="{% static 'css/tabcontent.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<section id="main" class="wrapper">
    <div class="container">


        <form method="POST" enctype="multipart/form-data">
            <div>
                <ul class="tabs" data-persist="true">
                    <li><a id="view1-link" href="#view1">General</a></li>
                    <li><a id="view2-link" href="#view2">Features</a></li>
                    <li><a id="view3-link" href="#view3">Location</a></li>
                    <li><a id="view4-link" href="#view4">Photos</a></li>
                    <li><a id="view5-link" href="#view5">Pricing</a></li>
                </ul>
                    <div class="tabcontents">
                        <div class="tab" id="view1">
                            <div {% if form.title.errors %}class="field_error"{% endif %}>
                                Venue Title
                                {{ form.title }}
                                {{ form.title.errors }}
                            </div>
                            <div {% if form.category.errors %}class="field_error"{% endif %}>
                                Venue Type
                                {{ form.category }}
                                {{ form.category.errors }}
                            </div>
                            <div {% if form.sq_footage.errors %}class="field_error"{% endif %}>
                                Square Footage of Space Available to Guests
                                {{ form.sq_footage }}
                                {{ form.sq_footage.errors }}
                            </div>
                            <div {% if form.num_guests.errors %}class="field_error"{% endif %}>
                                Number of Guests that Can be Accommodated
                                {{ form.num_guests }}
                                {{ form.num_guests.errors }}
                            </div>

                        </div>
                        <div class="tab" id="view2">
                            <div {% if form.description.errors %}class="field_error"{% endif %}>
                                Description
                                {{ form.description }}
                                {{ form.description.errors }}
                            </div>

                            <div {% if form.parking_desc.errors %}class="field_error"{% endif %}>
                                Description of Parking Facilities and/or Availability
                                {{ form.parking_desc }}
                                {{ form.parking_desc.errors }}
                            </div>

                            Features
                            <br/>
                            {{ form.features }}
                        </div>
                        <div class="tab" id="view3">

                            <h3>Address of Venue</h3>
                            <div {% if form.street.errors %}class="field_error"{% endif %}>
                                Street
                                {{ form.street }}
                                {{ form.street.errors }}
                            </div>
                            <div {% if form.street2.errors %}class="field_error"{% endif %}>
                                Street 2
                                {{ form.street2 }}
                                {{ form.street2.errors }}
                            </div>
                            <div {% if form.city.errors %}class="field_error"{% endif %}>
                                City
                                {{ form.city }}
                                {{ form.city.errors }}
                            </div>
                            <div {% if form.state.errors %}class="field_error"{% endif %}>
                                State
                                {{ form.state }}
                                {{ form.state.errors }}
                            </div>
                            <div {% if form.zipcode.errors %}class="field_error"{% endif %}>
                                 Zip
                                {{ form.zipcode }}
                                {{ form.zipcode.errors }}
                            </div>

                            Guests will not have access to your address until you have shared it with them.

                        </div>

                        <div class="tab" id="view4">
                            <div {% if form.image_title.errors %}class="field_error"{% endif %}>
                                 Image Title
                                {{ form.image_title }}
                            </div>

                            {{ form.image }}

                            {% if images %}
                                <ul>
                                {% for image in images %}
                                    <div class="ven-img-thumbnail">
                                        <img src='{% static "images/venue-images/1/" %}{{image.image_name}}' alt="" />
                                    </div>
                                {% endfor %}
                                </ul>
                            {% else %}
                                    <p>No Images.</p>
                            {% endif %}
                        </div>

                        <div class="tab" id="view5">
                            <div {% if form.price_per_hour.errors %}class="field_error"{% endif %}>
                                Weekday Price Per Hour (M-Th)
                                <br/>
                                ${{ form.price_per_hour }}
                                {{ form.price_per_hour.errors }}
                            </div>
                             <div {% if form.price_per_hour_weekend.errors %}class="field_error"{% endif %}>
                                Weekend Price Per Hour (F-Su)
                                <br/>
                                ${{ form.price_per_hour_weekend }}
                                {{ form.price_per_hour_weekend.errors }}
                            </div>
                        </div>

                    </div>
                <br>
                <input type="submit" value="Save">
            </div>
         </form>
    </div>
</section>


{% endblock %}

{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}