    <div id="booking-container-top"></div>
    <form id="request-booking-form" action="{% url 'update_request_form' listing.id %}" method="post">
        {% csrf_token %}
        <script type="text/javascript">setAvailableDates({{ listing_dates|safe }});</script>
        <div class="message">{{ message }}</div>
        <div class="3u view-form-field">
            Event Date:
            {{form.event_date}}
        </div>
        <div class="3u view-form-field">
            Start Time:
            {{form.start_time}}
        </div>
        <div class="3u view-form-field">
            End Time:
            {{form.end_time}}
        </div>
        <input type="submit" value="Request To Book">

        <div class="venue-price">
            <span class="display-price">M-Th: ${{listing.price_per_hour}} per hour</span>
            <span class="display-price">F-Su: ${{listing.price_per_hour_weekend}} per hour</span>
        </div>

        <table id="pricing-table">
            <tr>
                <td>Deposit</td>
                <td></td>
                <td>${{listing.deposit}}</td>
            </tr>
            <tr>
                <td>Hours</td>
                <td id="total-hours"></td>
                <td id="hours-price"></td>
            </tr>
            <tr>
                <td></td>
                <td>Service Fee</td>
                <td id="service-fee"></td>
            </tr>
            <tr>
                <td></td>
                <td>Total</td>
                <td id="total-price"></td>
            </tr>
        </table>

    </form>

<script>
    setupDatepicker();
    changeTotal();

    $(document).ready(function() {
        $('#request-booking-form').ajaxForm({
            // target identifies the element(s) to update with the server response
            target: '#booking-container',
        });
    });

    $('#event-date').on("change", function() {
        changeTotal();
    });
    $('#start-time').on("change", function() {
        changeTotal();
    });
    $('#end-time').on("change", function() {
        changeTotal();
    });

</script>