
<form id="htmlForm" action="{% url 'update_form' %}" method="post">
    {% csrf_token %}
    Message: <input type="text" name="message" value="Hello HTML" />
    {{ form.as_p }}
    <input type="submit" value="submit ajax">
</form>


<script>
    $(document).ready(function() {
        // var text = $('post-text').fieldValue()[0];
        // bind form using ajaxForm
        $('#htmlForm').ajaxForm({
            // target identifies the element(s) to update with the server response
            target: '#form-container',
            //data: {text: text},

            //success identifies the function to invoke when the server response
            // has been received;
            //success: function() {

            //}
        });
    });
</script>