{% extends 'capstone/base_template.html' %}
{% load staticfiles %}

{% block subtitle %}
 - View Venue
{% endblock %}

{% block stylesheets %}
    <script src="{% static 'js/view_venue.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/jquery.form.js' %}"></script>
    <script src="{% static 'js/maplace.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'js/bootstrap-modal.js' %}"></script>

    <script src="{% static 'js/tabcontent.js' %}" type="text/javascript"></script>
    <link href="{% static 'css/tabcontent.css' %}" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" type="text/css" href="{% static 'jquery-horizontal-scrollbars/jquery.horizontal.scroll.css' %}" />
    <script src="{% static 'jquery-horizontal-scrollbars/jquery.horizontal.scroll.js' %}" type="text/javascript"></script>

    <script src="{% static 'star-rating/jquery.rating.js' %}" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'star-rating/jquery.rating.css' %}" />
    
    <link href="{% static 'css/bootstrap-modal.css' %}" rel="stylesheet" type="text/css" />

    <script type="text/javascript">
        sizePhotoContainter({{ image_count }})
        setVariables({{listing.price_per_hour}}, {{listing.deposit}})
    </script>
{% endblock %}

{% block content %}
<section id="main" class="wrapper">
    <div class="venue-intro">
        <div class="cover-photo-container">
                <div class="cover-photo" style="background-image:url({% static 'images/venue-images/' %}{{ listing.id }}/{{cover_pic.image_name}})"></div>
                <!--<div class="price-label price-label-right">${{ listing.price_per_hour }} - ${{ listing.price_per_hour_weekend }}</div>-->
        </div>
        <div class="title-container">
            <div class="venue-title">{{listing.title}}</div>
            <div>{{listing.category|capfirst}} in {{listing.city}}, {{listing.state}}</div>
            <div class="venue-rating">
                {% if average_rating > 0 %}
                    {{ average_rating }} stars
                {% endif %}
                <a href="#reviews">Reviews</a>
            </div>
        </div>
    </div>


    <div id="view-venue-sub-intro">
        <div class="venue-owner">
            <div class="profile-pic-container med-profile-pic-container">
                <div class="profile-pic-wrapper med-profile-pic-wrapper">
                    <a href=""><img class="med-profile-pic" src="{{ host.profile_pic.image_file }}" /></a>
                </div><!-- wrapper -->
            </div><!-- container -->

            <div class="contact-owner">
                <a href="">{{host.first_name}} {{host.last_name}}</a>
                <a href="/django_messages/compose/{{ host.id }}/{{ listing.id }}">Contact Host</a>
            </div>
        </div>


        <div id="venue-highlights">
            <span class="highlight"><i class="fa fa-users"></i> Accomodates {{listing.num_guests}} guests</span>
            <span class="highlight"><i class="fa fa-area-chart"></i>
                {{listing.sq_footage}}sq. feet
                <a data-toggle="modal" data-target="#sqFtComparisons"><i class="fa fa-question-circle fa-lg" style="cursor: pointer"></i></a>
            </span>

            <span class="highlight">
                Cancellation Policy:
                <a data-toggle="modal" data-target="#policies-modal">
                    {{cancellation_policy.name|capfirst}}
                </a>
            </span>


            <!-- modal for square foot comparisons -->
            {% include 'partials/_sq_footage_comparisons.html' %}

            <div>
                {{policieshtml|safe}}
            </div>

        </div>
    </div>

    <div id="venue-details-container" class="container">

            <div class="description-div">

                <div id="booking-container" class="booking-container">
                    <span id="booking-form">{{ formhtml|safe }}</span>
                    <span id="price-form"></span>
                </div>


                <div class="description">
                    <div class="sub-heading">Venue Details</div>

                    {%if features%}
                    <h1>Additional Features</h1>
                    <div class="details-container">
                        <div class="venue-features">
                            <ul class="venue-features-list">
                                {%for feature in features%}
                                    <li>{{ feature }}</li>
                                {%endfor%}

                            </ul>
                        </div>
                    </div>
                    {%endif%}

                    <div>
                        <div><i class="fa fa-hand-o-right"></i> {{listing.description}}</div>
                        <div><i class="fa fa-car"></i> {{listing.parking_desc}}</div>
                    </div>
                </div>

                <div class="venue-photos">
                    {% if images %}
                        <ul id="horiz_container_outer">
                            <li id="horiz_container_inner">
                                <ul id="horiz_container">
                                    {% for image in images %}
                                        <li class="ven-img-thumbnail">
                                            <img src='{% static "images/venue-images/" %}{{ listing.id }}/{{image.image_name}}' alt="" />
                                        </li>
                                    {% endfor %}
                                </ul>
                            </li>
                        </ul>
                    {% else %}
                            <p>No Images</p>
                    {% endif %}
                </div>


                <div id="scrollbar">
                    <a id="left_scroll" class="mouseover_left" href="#"></a>
                    <div id="track">
                         <div id="dragBar"></div>
                    </div>
                    <a id="right_scroll" class="mouseover_right" href="#"></a>
                </div>
            </div>

            <hr class="hr-border">
            <!-- Reviews-->
            <span id="reviews"></span>
            {% block reviews %}
                {% include 'venue/reviews.html' %}
            {% endblock %}

        <hr class="hr-border">
        <div class="view-map-container">
            <div id="gmap-circles"></div>
        </div>
        <br>

    </div>
</section>


{% endblock %}

{% block footer %}
    {% include "partials/_footer.html" %}
{% endblock %}